<!DOCTYPE html>
<html lang="en">
  
<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div id="wrap">
        <% include ../partials/header.ejs %> 
        <div class="container">
           <% if (message.length > 0) { %>
               <div class="alert alert-success"><%= message %></div>
           <% } %>

           <% include ../partials/admin-nav.ejs %> 
       
           <span class="text-lg">Current Templates<a href="page-template/create" class="add-link">+</a></span> 
           
           <% if(pageTemplates.length > 0){ %>
                <table class="table table-striped admin-table">
     	        		  <thead>
        				      <tr>
        				         <th>Name</th>
        				         <th>Description</th>
        				         <th>Actions</th>
        				      </tr>
    				        </thead>
     				        <tbody>
					              <% pageTemplates.forEach( function( pageTemplate ){ %>
		         	         	  <tr>
                              <td><%= pageTemplate.name %></td>
	 				      	            <td><%= pageTemplate.description %></td>
            	  				    	<td>
            	   				    		<a href="/page-template/update/<%= pageTemplate._id %>" title="Update this page">Edit</a>&nbsp;&nbsp;
            	 	   			    		<a href="/page-template/delete/<%= pageTemplate._id %>" title="Delete this page">delete</a>
            	 	 	   		    	</td>
	  					             </tr>
	   		              <% }); %>
				            </tbody>	
				          </table>	
          <% }else{ %>  
                  <span class="none-msg">There are no current page templates</span>
          <% }; %>
     </div>
    <div id="push"></div>
   </div> 
   <% include ../partials/footer.ejs %> 
 </body>
</html>