<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
   <div id="wrap">
     <% include ../partials/header.ejs %> 

     <%
       var hasUpload = false;
       fieldObj = JSON.parse(pageTemplate.field_list);
       fieldObj.fields.forEach(function(field){

         if(field.type == 'upload'){
             hasUpload = true;
         }

      });
     %>   
  
    <div class="container">

      <% if (message.length > 0) { %>
           <div class="alert alert-success"><%= message %></div>
         <% } %>
       <h3>Create <%= page.name %> Content</h3>
  
          <% if(hasUpload){ %>
            
             <form role="form" action="/content/create" method="post" accept-charset="utf-8" enctype = "multipart/form-data">
             <input type="hidden" name="has_file" value="true">
          
          <% }else{ %>
         
             <form role="form" action="/content/create" method="post" accept-charset="utf-8" >
          
          <% } %>
               <input type="hidden" name="page_id" value="<%= page._id %>">
               <input type="hidden" name="page_template_id" value="<%= pageTemplate._id %>">
 
               <%

                 fieldObj = JSON.parse(pageTemplate.field_list);
                  
                  fieldObj.fields.forEach(function(field){

                     switch(field.type){

                        case "text":

                          %>
                            <div class="form-group">
                              <label for="<%= field.class %>"><%= field.name %></label>
                              <input type="text" class="form-control" name="<%= field.class %>">
                            </div>
                          <%
                          break;

                         case "textarea":

                          %>
                            <div class="form-group">
                              <label for="<%= field.class %>"><%= field.name %></label>
                              <textarea class="form-control" name="<%= field.class %>"></textarea>
                            </div>
                          <%
                          break;

                           case "upload":

                          %>
                            <div class="form-group <%= field.class %>">
                              <label for="<%= field.class %>"><%= field.name %></label>
                              <input type="file" class="form-control" name="<%= field.class %>" />
                              
                            </div>
                          <%
                          break;

                          case "select":

                          %>
                            <div class="form-group <%= field.class %>">
                              <label for="<%= field.class %>"><%= field.name %></label>
                              
                              
                               <select name="<%= field.class %>" class="form-control form-inline">
                                  <% var opt_ary = field.data.split(","); 
                                     for(var i = 0; i < opt_ary.length; i++){
                                        %>
                                          <option value="<%= opt_ary[i] %>"><%= opt_ary[i] %></option>
                                        <%

                                     }
                                  %>                                
  
                               </select> 

                            </div>
                          <%
                          break;

                     }

                  })

                  if(page.categories != ""){

                    var cat_ary = page.categories.split(",");

                    %>
                      <div class="form-group">
                      <label for="category">Category</label> <br>
                       <select name = "category">
                    <%

                    for(i = 0; i < cat_ary.length; i++){
                       
                         %>
                           <option value="<%= cat_ary[i] %>"><%= cat_ary[i] %></option>
                         <%
                    }

                    %>
                      </select>
                       </div>
                       <br><br>
                    <%

                  }

 
                %>
 
             <button type="submit" class="btn btn-default">Submit</button>
          </form>

        
       </div>
   <div id="push"></div>
   </div> 
   <% include ../partials/footer.ejs %> 
 </body>
</html>
